<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algore.application.recipe.dao.RecipeViewMapper">

    <resultMap id="categoryMap" type="com.algore.application.recipe.dto.RecipeCategoryDTO">
        <id property="categoryNum" column="CATEGORY_NUM"/>
        <result property="category" column="CATEGORY"/>
    </resultMap>

    <select id="readCategory" resultMap="categoryMap">
        SELECT CATEGORY_NUM,
               CATEGORY
          FROM RECIPE_CATEGORY
    </select>

    <resultMap id="unitMap" type="com.algore.application.recipe.dto.RecipeUnitDTO">
        <id property="riUnitNum" column="RI_UNIT_NUM"/>
        <result property="riUnit" column="RI_UNIT"/>
    </resultMap>

    <select id="readUnit" resultMap="unitMap">
        SELECT RI_UNIT_NUM,
               RI_UNIT
          FROM UNIT
    </select>

    <resultMap id="ingMap" type="com.algore.application.recipe.dto.IngredientDTO">
        <id property="ingNum" column="ING_NUM"/>
        <result property="ingName" column="ING_NAME"/>
    </resultMap>

    <select id="readIng" resultMap="ingMap">
        SELECT ING_NUM,
               ING_NAME
          FROM INGREDIENT
    </select>




<insert id="writeRecipe" parameterType="com.algore.application.recipe.dto.RecipeWriteDTO">
    INSERT INTO RECIPE
    (RECIPE_NUM, MEM_NUM, MAIN_PHOTO, PHOTO_PATH, CATEGORY_NUM, RECIPE_TITLE, RECIPE_INTRO, RECIPE_VIDEO_LINK, TIP, RECIPE_CREATE_DATE,RECIPE_VIEWS)
    VALUES (SEQ_RECIPE_NUM.NEXTVAL,
            #{memNum},
            #{mainPhoto},
            #{photoPath},
            #{categoryNum},
            #{recipeTitle},
            #{recipeIntro},
            #{recipeVideoLink},
            #{tip},
            SYSDATE,
            0
            )
</insert>

    <insert id="writeRecipeProduce" parameterType="java.util.List">
        INSERT INTO RECIPE_PROCEDURE
        (RP_NUM, RECIPE_NUM, RP_CONTENT, RP_FILE_NAME, RP_PATH)
        SELECT SEQ_RP_NUM.NEXTVAL,
        SEQ_RECIPE_NUM.CURRVAL ,
        PRO.*
        FROM (
        <foreach item="item" collection="list" separator="UNION ALL">
            SELECT
            #{item.rpContent} AS RP_CONTENT,
            #{item.rpFileName} AS RP_FILE_NAME,
            #{item.rpPath} AS RP_PATH
            FROM DUAL
        </foreach>
        )PRO
    </insert>

    <insert id="writeRecipeIngredients" parameterType="java.util.List">
        INSERT INTO RECIPE_INGREDIENT
        (RECIPE_NUM,ING_NUM, WEIGH, RI_UNIT_NUM)
        select SEQ_RECIPE_NUM.CURRVAL ,
        INGR.*
          FROM(
              <foreach collection="list" item="item" separator="UNION ALL">
                  SELECT
                      #{item.ingName} AS ING_NUM,
                         #{item.weigh} AS WEIGH,
                         #{item.riUnitNum} AS RI_UNIT_NUM
                  FROM DUAL
              </foreach>
              )INGR
    </insert>

    <insert id = "writeRecipePhotos" parameterType="java.util.List">
            INSERT INTO RECIPE_PHOTO
            (RECIPE_NUM, PHOTO_NUMBER, RECIPE_FILE_NAME, RECIPE_PATH)
            SELECT  SEQ_RECIPE_NUM.CURRVAL, SEQ_PHOTO_NUMBER.NEXTVAL,RP.*
                FROM(
        <foreach collection="list" item="item" separator="UNION ALL">
                SELECT
                    #{item.recipeFileName} AS RECIPE_FILE_NAME ,
                    #{item.recipePhotoPath} AS RECIPE_PATH
                FROM DUAL
        </foreach>
                   )RP
        </insert>

    <select id="recipeWriteNum">
         SELECT SEQ_RECIPE_NUM.CURRVAL
        FROM DUAL
    </select>


<!--    <insert id="recipeProcedure" parameterType="java.util.List">-->
<!--    </insert>-->

<!--    <insert id = "ingredient">-->
<!--        INSERT INTO INGREDIENT-->
<!--        (ING_NUM, ING_NAME, ING_PRICE, CATEGORY, ING_UNIT)-->
<!--        VALUES (-->
<!--                #{ ingNum },-->
<!--                #{ ingName },-->
<!--                #{ ingPrice },-->
<!--                #{ category },-->
<!--                #{ ingUnit }-->
<!--               )-->
<!--    </insert>-->

<!--    <insert id = "recipePhotoWrite">-->
<!--        INSERT INTO RECIPE_PHOTO-->
<!--        (PHOTO_NUMBER, RECIPE_NUM, RECIPE_FILE_NAME, RECIPE_PATH)-->
<!--        VALUES (-->
<!--                #{ photoNumber },-->
<!--                #{ recipeNum },-->
<!--                #{ recipeFileName },-->
<!--                #{ recipePath }-->
<!--               )-->
<!--    </insert>-->

<!--    <insert id="recipeProcedure">-->
<!--        INSERT INTO RECIPE_PROCEDURE-->
<!--        (RP_NUM, RECIPE_NUM, RP_FILE_NAME, RP_CONTENT, RP_PATH)-->
<!--        VALUES (-->
<!--                #{ rpNum },-->
<!--                #{ recipeNum },-->
<!--                #{ rpFileName },-->
<!--                #{ rpContent },-->
<!--                #{ rpPath}-->
<!--               )-->
<!--    </insert>-->
</mapper>